@{
    Layout = null;
}





<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/lib/css/home/home.css" rel="stylesheet" />
    <link href="~/lib/css/validation/screen.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-common.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-dialog.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-grid-1.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-grid-2.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-icons.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-menu.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-form.css" rel="stylesheet" />
    <script src="~/lib/js/core/jquery-1.7.2.min.js"></script>
    <script src="~/lib/js/core/jquery.validate.min.js"></script>
    <script src="~/lib/js/core/messages_zh.js"></script>
    <script src="~/lib/js/core/ligerui.min.js"></script>
    <title>查看工作信息</title>
</head>
<body>
    <div id="info-wrap">
        <div class="navbar">
            <div class="navbar-l"></div>
            <div class="navbar-r"></div>
            <div class="navbar-icon">
                <img alt="" src="~/lib/css/icons/tag.gif">
            </div>
            <div class="navbar-inner">
                <b>工作信息</b>
            </div>
        </div>
        <div class="info-grid">
            <div class="l-loading" style="display:block" id="pageloading"></div>
            <div id="grid"></div>
            <div class="l-panel-bar" id="pager">
                <div class="l-panel-bbar-inner">
                    <div class="l-bar-group  l-bar-message"><span class="l-bar-text"></span></div>

                    <div class="l-bar-group l-bar-selectpagesize">
                        <select name="rp">
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <div class="l-bar-separator"></div>

                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnfirst"><span class=""></span></div>
                        <div class="l-bar-button l-bar-btnprev"><span class=""></span></div>
                    </div>

                    <div class="l-bar-separator"></div>

                    <div class="l-bar-group">
                        <span class="pcontrol"> <input type="text" maxlength="3" class="txt" style="width:20px" value="" size="4"> / <span></span></span>
                    </div>

                    <div class="l-bar-separator"></div>

                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnnext">
                            <span class=""></span>
                        </div>
                        <div class="l-bar-button l-bar-btnlast">
                            <span class=""></span>
                        </div>
                    </div>

                    <div class="l-bar-separator"></div>

                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnload">
                            <span class="l-abled"></span>
                        </div>
                    </div>

                    <div class="l-bar-separator"></div>

                    <div class="l-clear"></div>
                </div>
            </div>
            <input type="hidden" id="page" value="" />
            <input type="hidden" id="pageSize" value="" />
            <input type="hidden" id="totalPage" value="" />
        </div>
    </div>
    <script type="text/javascript" src="~/lib/js/grid/gridJs.js"></script>
    <script type="text/javascript">
        function f_delete(id, name) {
            $.ligerDialog.confirm('是否删除 \'' + name + '\' 工作信息? ', function (yes) {
                var params = { "supervisorWorkInfo.id": id };
                if (yes) {
                    $.grid.f_ajaxSubmit("../CheckWork/DeletebyDdId", params, "成功删除工作信息!", true);
                }
            });
        }
        $(document).ready(function () {
            var grid = $("#grid").ligerGrid({
                height: '92%',
                width: '99.7%',
                columns: [
                    { display: 'ID', name: 'id', width: 30,hide:true },
                    { display: '用户名', name: 'username', width: 80 },
                    { display: '姓名', name: 'name', width: 80 },
                    { display: '活动名称', name: 'activity', width: 80 },
                    { display: '产品名称', name: 'product', width: 80 },
                    { display: '上班门店', name: 'store', width: 80 },
                    { display: '工作职能', name: 'work', width: 80 },
                    { display: '日薪标准', name: 'wage', width: 80 },
                    { display: '补助', name: 'subsidy', width: 80 },
                    { display: '备注', name: 'remark', width: 100 },
                    { display: '上班时间', name: 'date', width: 150 },
                    {
                        display: '操作', isAllowHide: false, width: 50,
                        render: function (row) {
                            var id = '\'' + row.id + '\'';
                            var name = '\'' + row.name + '\'';
                            var html = '<a href="javascript:;" onclick="f_delete(' + id + ',' + name + ')">删除</a>';
                            return html;
                        }
                    }
                ], dataAction: 'server', usePager: false
            });
            var params = {
                "page": "1",
                "pageSize": "15"
            };
            $.grid.f_getData(grid, '../CheckWork/GetData', params);
            var params3 = {};
            $.grid.f_setOverClass();
            $.grid.f_pagerOnclick(grid, '../CheckWork/GetData', params3);
            $.grid.f_pageEnterDown(grid, '../CheckWork/GetData', params3);
            $.grid.f_pageSizeSelect(grid, '../CheckWork/GetData', params3);
        });
    </script>
</body>
</html>


