@{
    Layout = null;
}





<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/lib/css/home/home.css" rel="stylesheet" />
    <link href="~/lib/css/validation/screen.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-common.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-dialog.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-grid-1.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-grid-2.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-icons.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-menu.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-form.css" rel="stylesheet" />
    <script src="~/lib/js/core/jquery-1.7.2.min.js"></script>
    <script src="~/lib/js/core/jquery.validate.min.js"></script>
    <script src="~/lib/js/core/messages_zh.js"></script>
    <script src="~/lib/js/core/ligerui.min.js"></script>
    <title>审核上班信息</title>
</head>
<body>
    <div id="info-wrap">
        <div class="navbar">
            <div class="navbar-l"></div>
            <div class="navbar-r"></div>
            <div class="navbar-icon">
                <img alt="" src="~/lib/css/icons/tag.gif">
            </div>
            <div class="navbar-inner">
                <b>审核上班信息</b>
            </div>
        </div>
        <div class="search">
            <table cellspacing="0" cellspadding="0">
                <tr>
                    <td>输入审核日期（周日）</td>
                    <td>
                        <input id="contents" name="contents" />
                        <input id="content" name="content" type="hidden" />
                    </td>
                    <td>
                        <input type="button" class="l-button3" id="submit" value="确定" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="info-grid">
            <div class="l-loading" style="display:block" id="pageloading"></div>
            <div id="grid"></div>
            <div class="l-panel-bar" id="pager">
                <div class="l-panel-bbar-inner">
                    <div class="l-bar-group  l-bar-message"><span class="l-bar-text"></span></div>
                    <div class="l-bar-group l-bar-selectpagesize">
                        <select name="rp">
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="l-bar-separator"></div>
                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnfirst"><span class=""></span></div>
                        <div class="l-bar-button l-bar-btnprev"><span class=""></span></div>
                    </div>
                    <div class="l-bar-separator"></div>
                    <div class="l-bar-group">
                        <span class="pcontrol"> <input type="text" maxlength="3" class="txt" style="width:20px" value="" size="4"> / <span></span></span>
                    </div>
                    <div class="l-bar-separator"></div>
                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnnext">
                            <span class=""></span>
                        </div>
                        <div class="l-bar-button l-bar-btnlast">
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="l-bar-separator"></div>
                    <div class="l-bar-group">
                        <div class="l-bar-button l-bar-btnload">
                            <span class="l-abled"></span>
                        </div>
                    </div>
                    <div class="l-bar-separator"></div>
                    <div class="l-clear"></div>
                </div>
            </div>
            <input type="hidden" id="page" value="" />
            <input type="hidden" id="pageSize" value="" />
            <input type="hidden" id="totalPage" value="" />
        </div>
    </div>
    <script type="text/javascript" src="~/lib/js/grid/gridJs.js"></script>
    <script type="text/javascript">
        function f_show(uniquenum, begin, end) {
            window.parent.$.ligerDialog.open(
            {
                width: 600,
                height: 480,
                isResize: true,
                name: "show",
                url: 'showOnesSupervisorWorkInfo.action?uniquenum=' + uniquenum + '&begin=' + begin + '&end=' + end,
                title: '已审核工作信息',
                buttons: [
                    {
                        text: '关闭',
                        onclick: function (item, dialog) {
                            dialog.close();
                        }
                    }
                ]
            });
        }
        $(document).ready(function () {
            $(".info-grid").hide();
            $("#contents").ligerDateEditor({ format: "yyyy年MM月dd日", label: '', labelWidth: 100, labelAlign: 'center' });
            var grid = $("#grid").ligerGrid({
                height: '92%',
                width: '99.7%',
                columns: [
                    { display: '唯一号', name: 'uniquenum', width: 80 },
                    {
                        display: '姓名', name: 'name', isAllowHide: false, width: 80,
                        render: function (row) {
                            var uniquenum = '\'' + row.uniquenum + '\'';
                            var enddate = row.enddate;
                            var begindate = row.begindate;
                            var end = enddate.substring(0, 4) + enddate.substring(5, 7) + enddate.substring(8, 10);
                            var begin = begindate.substring(0, 4) + begindate.substring(5, 7) + begindate.substring(8, 10);
                            var begins = '\'' + begin + '\'';
                            var ends = '\'' + end + '\'';
                            var html = '<a href="javascript:;" onclick="f_show(' + uniquenum + ',' + begins + ',' + ends + ')">' + row.name + '</a>';
                            return html;
                        }
                    },
                    { display: '城市', name: 'city', width: 80 },
                    { display: '身份证', name: 'identity', width: 150 },
                    { display: '总工资(包括补助)', name: 'sumwage', width: 120 },
                    { display: '工作天数(本周)', name: 'sumwork', width: 120 },
                    { display: '开始日期', name: 'begindate', width: 120 },
                    { display: '结束日期', name: 'enddate', width: 120 },
                    { display: '操作', name: 'enddate', width: 120 }
                ], dataAction: 'server', usePager: false
            });
            $("#submit").bind("click", function () {
                $("#content").val($("#contents").val());
                if ($("#content").val().length > 0) {
                    var params1 = {
                        "content": $("#content").val(),
                        "page": "1",
                        "pageSize": "15"
                    };
                    $.grid.f_getData(grid, 'supervisorAuditedWorkInfo.action', params1);
                    $(".info-grid").show();
                } else {
                    $.ligerDialog.warn('请输入审核日期！');
                }
            });
            var params3 = {};
            $.grid.f_setOverClass();
            $.grid.f_pagerOnclick(grid, 'supervisorAuditedWorkInfo.action', params3);
            $.grid.f_pageEnterDown(grid, 'supervisorAuditedWorkInfo.action', params3);
            $.grid.f_pageSizeSelect(grid, 'supervisorAuditedWorkInfo.action', params3);
        });
    </script>
</body>
</html>
