@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="~/lib/css/home/home.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/css/validation/screen.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="~/lib/css/core/ligerui-common.css">
        <link type="text/css" rel="stylesheet" href="~/lib/css/core/ligerui-dialog.css">
        <script src="~/lib/js/core/jquery-1.7.2.min.js" type="text/javascript"></script>  
        <script src="~/lib/js/core/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/lib/js/core/messages_zh.js" type="text/javascript"></script>
        <script src="~/lib/js/core/ligerui.min.js" type="text/javascript"></script>
        <script src="~/lib/js/md5/md5.js"></script>
        <title>修改密码</title>
    </head>
    <body>
        <div id="info-wrap">
            <div class="navbar">
                <div class="navbar-l"></div>
                <div class="navbar-r"></div>
                <div class="navbar-icon">
                    <img alt=""  src="~/lib/css/icons/tag.gif">
                </div>
                <div class="navbar-inner">
                    <b>修改密码[带*为必填]</b>
                </div>
            </div>
            <div class="info-detail">
                <form name="infoForm" id="infoForm" method="post">
                    <table cellspacing="0" cellspadding="0">
                        <tr>
                            <th>原始密码<span style="color:red">*</span></th>
                            <td colspan="2">
                                <input name="password" id="password" type="password" value="" class="txt"/>
                                <input name="username" id="username" type="hidden" value="@Session["admin"]"/>
                            </td>
                        </tr>
                        <tr>
                            <th>新密码<span style="color:red">*</span></th>
                            <td colspan="2">
                                <input name="new_password" id="new_password" type="password" value="" class="txt"/>
                            </td>
                        </tr>
                        <tr>
                            <th>确认新密码<span style="color:red">*</span></th>
                            <td colspan="2">
                                <input name="new_password_confirm" id="new_password_confirm" type="password" value="" class="txt"/>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <td>
                                <input id="submit" class="l-button3" type="submit" value="提交"/>
                                <input id="reset" class="l-button3" type="reset" value="重置"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            function trim(str) { //删除左右两端的空格
                return str.replace(/(^\s*)|(\s*$)/g, "");
            }
            $(document).ready(function () {
                $("#infoForm").validate({
                    onkeyup: false,
                    focusInvalid: true,
                    rules: {
                        "password": {
                            required: true,
                            remote: {
                                url: "/BasicInfo/ValidateOldPW",
                                type: "post",
                                dataType: "json",
                                data: {
                                    "oldpassword": function () {
                                        var user = trim($("#username").val().toLowerCase());
                                        var oldpass = user + trim($("#password").val());
                                        var oldpassword = hex_md5(oldpass);
                                        return oldpassword;
                                    } ,
                                    "username": function () {
                                        return $("#username").val();
                                    }
                                }
                            }
                        },
                        "new_password": {
                            required: true,
                            minlength: 6
                        },
                        "new_password_confirm": {
                            required: true,
                            equalTo: "#new_password",
                            minlength: 6
                        }
                    },
                    submitHandler: function (form) {
                        $.ajax({
                            url: "/BasicInfo/AlterPassword",
                            data: {
                                "newpassword": function () {
                                    var user = trim($("#username").val().toLowerCase());
                                    var newpass = user + trim($("#new_password").val());
                                    var newpassword = hex_md5(newpass);
                                    return newpassword;
                                }
                            },
                            dataType: "json",
                            type: "post",
                            success: function () {
                                $("#reset").click();
                                var dialog = $.ligerDialog.tip({ title: "提示", content: "成功修改密码!" });
                                setTimeout(function () {
                                    dialog.close();
                                }, 5000);
                            }
                        });
                    },
                    messages: {
                        "password": {
                            required: "请输入原始密码",
                            remote: $.format("原始密码错误")
                        },
                        "new_password": {
                            required: "请输入新密码",
                            minlength: "密码不少于6位"
                        },
                        "new_password_confirm": {
                            required: "请再次输入新密码",
                            equalTo: "两次密码不一致",
                            minlength: "密码不少于6位"
                        }
                    }
                });
            });
        </script>
    </body>
</html>
