@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/lib/css/home/home.css" rel="stylesheet" />
    <link href="~/lib/css/validation/screen.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-common.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-dialog.css" rel="stylesheet" />
    <link href="~/lib/css/core/ligerui-form.css" rel="stylesheet" />
    <script src="~/Content/js/core/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/core/jquery.validate.min.js"></script>
    <script src="~/Content/js/core/messages_zh.js"></script>
    <script src="~/Content/js/core/ligerui.min.js"></script>
    <script src="~/lib/js/md5/md5.js"></script>
    <title>上传兼职人员</title>
</head>
<body>
    <div id="info-wrap">
        <div class="navbar">
            <div class="navbar-l"></div>
            <div class="navbar-r"></div>
            <div class="navbar-icon">
                <img alt="" src="~/Content/images/tag.gif" />
            </div>
            <div class="navbar-inner">
                <b>上传兼职人员[带<span style="color: red">*</span>为必填]</b>
            </div>
        </div>
        <div class="info-form">
            <form action="/Upload/Index" name="baseinfo-form" id="baseinfo-form" enctype="multipart/form-data" method="post">
                <input id="wenjian" name="wenjian" type="file" accept=".xls,.xlsx" />
                <input id="warn" type="hidden" value="@ViewBag.error" />
                <input id="dowmload" class="l-button3333" type="button" value="模板下载" />
                <input id="tijiao" class="l-button3" type="submit" value="上传" />
                <input id="flag" type="hidden" value="@ViewBag.flag" />

            </form>
        </div>
    </div>
    <script type="text/javascript">


        $(document).ready(function () {
            if ($("#flag").val() == "1") {
                var dialog = $.ligerDialog.tip({ title: "提示", content: "成功上传兼职人员信息!" });
                setTimeout(function () {
                    dialog.close();
                }, 5000);
            }
            if ($("#warn").val() != "") {
                var warning = $("#warn").val();
                $.ligerDialog.warn(warning);
            }
            $("#dowmload").bind("click", function () {
                window.location = "/Upload/StreamFileFromDisk";
            })
            $("#baseinfo-form").validate({
                onkeyup: false,
                focusInvalid: true,
                rules: {
                    "wenjian": {
                        required: true,
                        remote: {
                            url: "/Upload/validateExt",
                            type: "post",
                            data: {
                                cityid: function () {
                                    return $("#wenjian").val();
                                }
                            },
                            dataType: "json"
                        }
                    },

                },
                messages: {
                    "wenjian": {
                        required: "请选择上传的文件",
                        remote: $.format("上传文件格式有误，只能是.xls .xlsx"),
                    },

                }
            });
        });

    </script>
</body>
</html>
